mixin whatsapppBtn
    div(class='whatsapp-btn')
        a(href='https://api.whatsapp.com/send/?phone=5491169404262&amp;text=¡Hola Fibon! Necesito información sobre productos.' target='_blank')
            include ../../assets/img/icons/icon-whatsapp.svg
