@use '../../base/scss/global'as *;

.whatsapp-btn {
	right: 0;
	bottom: 13%;
	z-index: 10;
	display: flex;
	position: fixed;
	align-items: flex-end;
	flex-direction: column;
	transition: all .3s;

    animation-duration: 1.2s;
    animation-name: bounce;
    animation-direction: alternate;
    animation-iteration-count: infinite;

	@media screen and (min-height: 600px) {
		bottom: 12%;
	}

	@media screen and (min-height: 700px) {
		bottom: 10%;
	}

	@media screen and (min-height: 700px) and (min-width: $laptop_s) {
		bottom: 5%;
	}

	span {
		top: -14px;
		right: 20px;
		color: #fff;
		font-size: 10px;
		font-weight: 700;
		padding: 4px 12px;
		position: relative;
		border-radius: 10px;
		background-color: #1F80FF;

		@include responsive-width($laptop_s) {
			top: -10px;
			font-size: 12px;
			padding: 6px 16px;
		}

		&::after {
			content: '';
			top: -6px;
			z-index: -1;
			width: 14px;
			height: 14px;
			right: 15px;
			display: block;
			user-select: none;
			position: absolute;
			border-radius: 1px;
			transform: rotate(45deg);
			background-color: #1F80FF;
		}
	}
}
