include ../../base/pug/index
include ../../components/index

-
	title_page = 'Nosotros'
	current_page = link.about


+html_template()
	+header()
	main(role='main' class='page__about')
		include ./pug/_headline
		include ./pug/_cards
		include ./pug/_values
	+footer()