.cards {
    padding: 30px 0;
    background-color: #E2EAFF66;

    @media screen and (min-width: 1024px) {
        padding: 80px 0;
    }

    .container {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (min-width: 768px) {
            max-width: 640px;
        }

        @media screen and (min-width: 1024px) {
            gap: 41px;
            max-width: 930px;
        }
    }

    &__content {
        height: 92px;
        width: 160px;
        display: flex;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border: 0.29px solid black;

        @media screen and (min-width: 1024px) {
            width: 281px;
            height: 161px;
        }

        &:first-of-type {
            gap: 10px;
            padding: 0 7px;
            flex-direction: row;

            @media screen and (min-width: 1024px) {
                gap: 17px;
                padding: 0 21px;
            }

            h2 {
                font-size: 34px;

                @media screen and (min-width: 1024px) {
                    font-size: 60px;
                }
            }
        }
    }

    &__content h2 {
        font-size: 20px;
        color: #285BEA;
        font-weight: 700;
        margin-bottom: 0;

        @media screen and (min-width: 1024px) {
            font-size: 35px;
        }
    }

    &__content p {
        margin-bottom: 0;

        @media screen and (min-width: 1024px) {
            font-size: 25px;
            color: #285BEA;
        }
    }
}