include ../../base/pug/index
include ../../components/index

-
	title_page = 'Blog'
	current_page = link.blog

+html_template()
	+header()
	main(role='main' class='page__blog')
		include ./pug/_blog
	+footer()