include ../../base/pug/index
//- include ../../components/pug/components

-
    title_page = 'Home'
    current_page = link.home


+html_template()
    main(role='main')
        include ./pug/_hero
        include ./pug/_headline
        include ./pug/_cards
        include ./pug/_map