include ../../base/pug/index
include ../../components/index

-
    title_page = 'Inicio'
    current_page = link.home

+html_template()
    +header()
    main(role='main' class='page__home')
        include ./pug/_hero
        include ./pug/_headline
        include ./pug/_features
        include ./pug/_map
    +footer()