+modal()
    div(class='modal-ficha')
        div(class='modal-ficha__product')
            div(class='swiper-component')#swiperFicha
                div(class='swiper')
                    div(class='swiper-wrapper')
                        div(class='swiper-slide')
                            div(class='slide')
                                +image_retina_media({
                                    image: 'ficha-product-1',
                                    ext: 'jpg',
                                })
                        div(class='swiper-slide')
                            div(class='slide')
                                +image_retina_media({
                                    image: 'ficha-product-1',
                                    ext: 'jpg',
                                })

                div(class="swiper-pagination")
                div(class='swiper__controls')
                    div(class='swiper-button-prev')
                    div(class='swiper-button-next')

        div(class='modal-ficha__description')
            div(class='name')
                h2 Art 45: Mochila a codo n° 4 a pulsador.
                h2 Art 44: Mochila a codo n° 2 a tirador.
            div(class='detail')
                p Termoformadas.
                p Capacidad: 13 lts.

                h3 Accesorios incluidos
                p Entrada de agua, obturador, codo y pulsador.
                p Caja por 6 unidades.