mixin icon(icon_svg)
    case icon_svg

        when 'app-delivery'
            include ../../assets/img/delivery.svg
        when 'app-honesty'
            include ../../assets/img/honesty.svg
        when 'app-quality'
            include ../../assets/img/quality.svg
        when 'app-commitment'
            include ../../assets/img/commitment.svg
        when 'app-solidarity'
            include ../../assets/img/solidarity.svg                                    