-
	img_path = '../../assets/img/'

	link = {
		home: '/',
		about: '/nosotros',
		products: '/productos',
		blog: '/blog',
	}

	menu = [
		{
			name: 'Home',
			url: link.home
		},
		{
			name: 'Nosotros',
			url: link.about
		},
		{
			name: 'Productos',
			url: link.products
		},
		{
			name: 'Blog',
			url: link.blog
		},
	]