-
    categories = [
        {
            products: [
                {
                    date: '12 feb 2025',
                    title: 'Aprendizaje automático: qué es, tipos y aplicaciones',
                    description: 'El aprendizaje automático es un subconjunto de la Inteligencia Artifical (IA) con más aplicaciones. Los estudiantes pueden aprenden a operar.',
                    image: 'blog'
                },
                {
                    date: '12 feb 2025',
                    title: 'Aprendizaje automático: qué es, tipos y aplicaciones',
                    description: 'El aprendizaje automático es un subconjunto de la Inteligencia Artifical (IA) con más aplicaciones. Los estudiantes pueden aprenden a operar.',
                    image: 'blog'
                },
                {
                    date: '12 feb 2025',
                    title: 'Aprendizaje automático: qué es, tipos y aplicaciones',
                    description: 'El aprendizaje automático es un subconjunto de la Inteligencia Artifical (IA) con más aplicaciones. Los estudiantes pueden aprenden a operar.',
                    image: 'blog'
                },
                {
                    date: '12 feb 2025',
                    title: 'Aprendizaje automático: qué es, tipos y aplicaciones',
                    description: 'El aprendizaje automático es un subconjunto de la Inteligencia Artifical (IA) con más aplicaciones. Los estudiantes pueden aprenden a operar.',
                    image: 'blog'
                },
            ]
        }     
    ]

section(class='blog')
    div(class='container')
        h1 Blog

        div(class='blog__options')
            div
                a(href='#' class='active') Animación y Videojuegos
                a(href='#') Arquitectura
                a(href='#') Ciencias
                a(href='#') Comunicación y Marketing
                a(href='#') Educación
                a(href='#') Deporte
                a(href='#') Ingeniería
                a(href='#') Turismo
                a(href='#') Medicina y Salud
        
        div(class='blog__news')
            div(class='blog__featured')
                +image_retina_media({
                    image: 'blog-repair',
                    ext: 'jpg',
                    alt: 'Noticia destacada',
                    media: '768'
                })
                div 
                    span 12 feb 2025
                    p Aprendizaje automático: qué es, tipos y aplicaciones
                    span El aprendizaje automático es un subconjunto de la Inteligencia Artifical (IA) con más aplicaciones. Los estudiantes pueden aprenden a operar.

            div(class='blog__lastnews')
                div     
                    h2 Últimas historias
                    nav
                        a(href="") Aprendizaje automático: qué es, tipos y aplicaciones
                        a(href="") Aprendizaje automático
                        a(href="") AAprendizaje automático: qué es, tipos y aplicaciones
                        a(href="") Aprendizaje automático

                    h2 Los más populares
                    nav
                        a(href="") Aprendizaje automático
                        a(href="") Aprendizaje automático
                        a(href="") Aprendizaje automático
                        a(href="") Aprendizaje automático
            div(class='blog__entries')
                for category, index in categories
                    for product in category.products
                        +card(product)
            
            +paginator()