section(class='cardsabout')
    div(class='container')
        div(class='card-about__mision')
            h3 Misión 
            p Fabricar productos sanitarios de calidad, duraderos y confiables, demostrando con cada pieza el orgullo y la fuerza de la producción argentina.
        div(class='card-about__vision')
            h3 Visión
            p Queremos ser referentes en el sector sanitario, construyendo relaciones de respeto y compromiso con proveedores, clientes y colaboradores, ofreciendo productos que reflejan calidad y cuidado del medio ambiente. 