section(class='headlinemain')
    div(class='container')
        h1 Calidad y confianza con sello argentino
        p Con más de 40 años de experiencia, ofrecemos soluciones confiables y duraderas, comprometidos con la calidad y la innovación.