section(class='values')
    div(class='container')
        h2 Valores 

        div(class='values__cards')
            div(class='values__card')
                +icon('app-honesty')
                h5 Honestidad
                p En Fibon tenemos un compromiso con la verdad. Nos comprometemos a ofrecer productos de calidad, accesibles y siempre fieles a lo que prometemos. Y creamos lazos s칩lidos con clientes y proveedores, basados en la confianza mutua.
            div(class='values__card')
                +icon('app-quality')
                h5 Calidad
                p En Fibon ofrecemos productos hechos para durar, porque sabemos que lo que construimos est치 pensado para muchos a침os.
            div(class='values__card')
                +icon('app-commitment')
                h5 Compromiso con el medio ambiente
                p El futuro del planeta nos importa. En Fibon reciclamos y reutilizamos al m치ximo nuestros materiales, minimizando residuos y usando los recursos de forma responsable.
            div(class='values__card')
                +icon('app-solidarity')
                h5 Solidaridad
                p Somos parte de la comunidad. Apoyamos activamente a escuelas, clubes y organizaciones locales. Desde nuestros inicios como negocio familiar, hemos crecido juntos y seguimos colaborando para su bienestar.

        div(class='values__download')
            a(href='../../../assets/GN-0352-23-FIBON-S.R.L-1.pdf' class='button main' download) Certificados