mixin modal(options)
    -
        options = options || {}
        id = options.id || 'modalDemo'
        tag = options.tag || ''

    div(class='modal' data-modal id=id)
        div(class='modal__animation')
            div(class='modal__container')
                button(class='modal__close' data-modal-close)
                div
                    if block
                        block