section(class='cards')
    div(class='container')
        div(class='cards__content')
            h2 +40
            p años de trayectoria
        div(class='cards__content')
            p Entrega
            h2 rápida
        div(class='cards__content')
            h2 Venta
            p directa
        div(class='cards__content')
            p Industria
            h2 Nacional
        div(class='cards__content')
            h2 Stock
            p permanente