section(class='features')
    div(class='container')
        div(class='card-feature')
            h2 +40
            p años de trayectoria
        div(class='card-feature')
            p Entrega
            h2 rápida
        div(class='card-feature')
            h2 Stock
            p permanente
        div(class='card-feature')
            h2 Venta
            p directa
        div(class='card-feature')
            p Industria
            h2 Nacional
        