section(class='headlinemain')
    div(class='container')
        h1 Fabricamos artículos sanitarios y de gas, 100% nacionales,
        p diseñados para responder a las necesidades de la industria, el sector público y privado.
