-
  banners = [
    {
      image: 'hero-slide-1',
      background: '#edf1fd',
      title: 'De nuestra fábrica a tu negocio',
      description: 'Venta mayorista a todo el país',
    },
    {
      image: 'hero-slide-2',
      background: '#ffe7e8',
      title: 'Productos argentinos, diseñados para durar.',
      description: 'Económicos, de alta calidad y con un diseño simple y eficiente.',
    },
    {
      image: 'hero-slide-3',
      background: '#edf1fd',
      title: 'Calidad argentina con 40 años de historia.',
      description: 'Diseñamos productos sanitarios y de gas para la industria, el sector público y privado.',
    },
  ]

section(class='hero')
  div(class='swiper-component')#swiperHero
    div(class='swiper')
      div(class='swiper-wrapper')
        each banner in banners
          div(class='swiper-slide' style=`background-color: ${banner.background}`)
            div(class='slide')
              div(class='slide__content')
                div(class='container')
                  div(class='content')
                    h2 !{banner.title}
                    p !{banner.description}
                    +image_retina_media({
                      image: banner.image,
                      ext: 'png',
                    })
      div(class="swiper-pagination")
    div(class='swiper__controls container')
      div(class='swiper-button-prev')
      div(class='swiper-button-next')
