section(class='map')
    div(class='container')
        div(class='headline')
            div(class='icon')
                +icon('app-delivery')
            div
                h2 Entregamos a todo el país
                p Ellos ya están vendiendo nuestro producto

        div(class='tag__options map__options')
            div
                button(type="button" onclick="toggleGrupo('BsAs')") Buenos aires (101)
                button(type="button" onclick="toggleGrupo('StaFe')") Santfe
                button(type="button" onclick="toggleGrupo('GranBuenosAires')") Gran Buenos Aires (104)
                button(type="button" onclick="toggleGrupo('Caba')") CABA (8)
                button(type="button" onclick="toggleGrupo('Corrientes')") Corrientes (10)
                button(type="button" onclick="toggleGrupo('Cordoba')") Córdoba (21)  
                button(type="button" onclick="toggleGrupo('Chaco')") Chaco (7)
        
        //- div(class='map-render')
        div(id="map" style="height: 500px;")
