header 
    div
        p logo
    div 
        nav 
            a(href="") Home
            a(href="") Nosotros
            a(href="") Productos
            a(href="") Blog
            a(href="") fb
            a(href="") ig
