@use '../../base/scss/global'as *;

.paginator {

	ul {
		display: flex;
		margin-top: 30px;
		align-items: center;
		justify-content: center;

		@include responsive-width($laptop_s) {
			margin-top: 50px;
		}

		a,
		span {
			width: 32px;
			height: 32px;
			font-size: 14px;
			font-weight: 600;
			line-height: 22px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #000000;
			border-radius: 10px;

			@include responsive-width($laptop_s) {
				width: 42px;
				height: 42px;
				font-size: 16px;
				line-height: 24px;
			}

			&.active {
				color: #fff;
				background-color: #285BEA;
			}
		}

		.paginator__next,
		.paginator__prev {
			width: 40px !important;
			height: 40px;
			font-size: 0px;
			border-radius: 50%;
			display: inline-block;
			background-color: transparent;
			background-position: center;
			background-repeat: no-repeat;
			background-image: image_url('icons/arrow-paginator.svg');

			@include responsive-width($laptop_s) {
				height: 56px;
				width: 56px !important;
			}
		}

		.paginator__prev {
			margin-right: 10px;

			@include responsive-width($laptop_s) {
				margin-right: 20px;
			}
		}

		.paginator__next {
			margin-left: 10px;
			transform: scaleX(-1);

			@include responsive-width($laptop_s) {
				margin-left: 20px;
			}
		}
	}
}
