mixin paginator ()
	nav(class='paginator')#paginator
		ul
			li
				a(href='#' class='paginator__prev') Anterior
			li
				a(href='#' class='active') 1
			li
				span de
			li
				a(href='#') 7
			li
				a(href='#' class='paginator__next') Siguiente